*{ margin: 0; padding: 0; box-sizing: border-box;/*  border: 1px solid #000; */ }
 
li { list-style: none; }
a,p,span,h1,h2,h3,h4,h5,h6 { font-family: var(--font); text-decoration: none; letter-spacing: -1px; font-size: 15px; color: var(--color); }
a img {border: none;} 
address, em, i {font-style: normal;}
body { overflow-x: hidden; } 
.cursor { width: 50px; height: 50px; border: 2px solid #1bf9ef; border-radius: 50%; position: absolute; z-index: 1000; transform: translate(-50%, -50%); pointer-events: none; transition: all 0.3s ease; 
transform-origin: 100% 100%; background-color: #1bf9ef; mix-blend-mode: difference; background-size: cover; }
a { cursor: none; }

@font-face {
    font-family: 'SEOULMILK 1000mL';
    src: url(../font/SEOULMILK\ 1000mL\ TTF.ttf);
}  
/* 텍스트 애니메이션 적용 */
.motion { animation-duration: 1000ms; animation-fill-mode: forwards; background-repeat: no-repeat; } 
:root { --color: #E00909; --font:'NotoSansKR', sans-serif; }
body, textarea:focus, input:focus, a:focus { cursor: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

/* 사이드 - 스크롤바 */
#scrollbar { mix-blend-mode: difference; z-index: 4; position: fixed; bottom: 30px; right: 10px; width:30px; height: 410px;  }
#scrollbar .scrollbar_right { margin: 50px auto; overflow: hidden; z-index: 2; width: 5px; height: 290px; background-color: rgba(233, 233, 233, 0.567); border-radius: 25px; }
#scrollbar .scrollbar_right .scroll_text { display: flex; align-items: center; position:absolute; width: 410px; height: 30px; top: 190px; right: -192px; transform: rotate(90deg); font-size: 15px; font-weight: 900; }
#scrollbar .scrollbar_right .scroll_text span:first-of-type { display: none; color: #1bf9ef; letter-spacing: 0; }
#scrollbar .scrollbar_right .scroll_text span:last-of-type { position: absolute; right: 0; color: #1bf9ef; letter-spacing: 1px; }
#scrollbar .scrollbar_right .scrollbar_inner { z-index: 3; top: 0; right: 0; width: 5px; height: 21px; background-color: #1bf9ef;  border-radius: 25px; }
#scrollbar.active { display: none; }

/* header */
#smoothScroll { top: 0; right: 0; bottom: 0; left: 0; overflow: scroll; } 
#bg { width: 100vw; height: 100vh; position: fixed; background: url(../img/bg.jpg) no-repeat; background-size: cover; }
header {  mix-blend-mode: difference; z-index: 6; position: fixed; width: 100%; height: 80px; /* background-color: #fff; */ }
header #header_wrap { display: flex; justify-content: space-between; align-items: center; width: 90%; height: 80px; margin: 0 auto; }
header .logo { width: 160px; height: 80px; }
header .logo a {  display: flex; justify-content: space-between; align-items: center;  }
header .logo span {  font-family: 'SEOULMILK 1000mL'; display: block; width: 180px; font-size: 20px; color: #1bf9ef;  }
header .logo.st0 {fill:#000000;} 
header .logo.st1 {fill:#1bf9ef;} 
header .inner { display: flex; width: 127px; justify-content: space-between; align-items: center; } 
header .search { width: 30px; height: 30px; }
header .search.st0{fill:none; stroke:#1bf9ef; stroke-width:7; stroke-miterlimit:10; }
header .search.st1{fill:none; stroke:#1bf9ef; stroke-width:7; stroke-miterlimit:10; } 

header .star { width: 38px; height: 41px; }
header .star .st0 { fill:none; stroke:#1bf9ef; stroke-width:5; stroke-miterlimit:10; }
input#star_popup { position: relative; z-index: 5; display: none; }
input#star_popup:checked ~ #star_bg {  display: block; }
#star_bg { display: none; z-index: 5; position: fixed; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.699); }
#star_bg .star_popup { position: absolute; bottom: 50px; right: 50px; }
#star_bg .star_popup .purchaseBox,
#star_bg .star_popup .deliveryBox { position: relative; width: 175px; height: 175px; margin: 7px auto; box-shadow: 5px 5px 15px rgba(88, 88, 88, 0.404); border-radius: 15px; background-color: #fff; }
#star_bg .star_popup  a { display: block; position: absolute; bottom: 10px; right: -10px; transform: translateX(-50%); }
#star_bg .star_popup span { display: block; padding: 45px 0 0 0; font-size: 18px; font-weight: 900; text-align: center; color: #006546; }
#star_bg .star_popup span:nth-of-type(2) { display: block; padding: 15px 0 0 0; font-size: 14px; font-weight: 900; text-align: center; color: #006546; }
#star_bg .star_popup span:last-child { display: block; width: 35px; height: 35px; line-height: 22px; padding: 5px 10px; background-color: #006546; color: #fff; border-radius: 25px; text-align: center; font-size: 12px; }
#star_bg .star_popup img { width: 245px; display: block; margin: 15px auto; }
 
 
header .gnbBtn .openBtn { position: relative; width: 35px; height: 20px; }
header .gnbBtn .openBtn .top { display: block; position: absolute; top: 0; right: 0; width: 30px; height: 3px; border-radius: 25px; background-color: #1bf9ef; }
header .gnbBtn .openBtn .center { display: block; position: absolute; top: 9px; right: 0; width: 25px; height: 3px; border-radius: 25px; background-color: #1bf9ef; }
header .gnbBtn .openBtn .bottom { display: block; position: absolute; bottom: 0px; right: 0; width: 30px; height: 3px; border-radius: 25px; background-color: #1bf9ef; }


/* 메뉴 버튼 */
input#gnb_bg { position: relative; z-index: 5; display: none; }
input#gnb_bg:checked ~ #gnbMenu { animation: gnbBg 0.8s ease-out; display: block; }
#gnbMenu { display: none; position: fixed; z-index: 4; width: 100%; height: 100vh; }
#gnbMenu .innerBg { position: relative; width: 100%; height: 100%; background-color: #ff1c1c33;  }
#gnbMenu img { object-fit: cover; position: absolute; top: 0; z-index: -1; width: 100%; height:100% } 
#gnbMenu .gnb { position: absolute; top: 50%; left:30%; transform: translate(-50%,-50%); }
#gnbMenu .gnb li { margin: 15px 0; overflow: hidden; height: 53px; }
#gnbMenu .gnb li a { position: relative; height: 53px; display: block; font-size: 42px; font-weight: 900; color: #fff; }
#gnbMenu .gnbFooter { width: 100%; z-index: 2; bottom: 40px; margin: 0 auto; position: absolute; }
#gnbMenu .gnbFooter .inner { width: 90%; margin: 0 auto; }
#gnbMenu .sns { float: right; width: 160px; display: flex; justify-content: space-between; }
#gnbMenu .sns li { position: relative;  width: 40px; height: 40px; }
#gnbMenu .sns li a img { width: 100%; height: 100%; }
#gnbMenu p { clear: right; float: right; margin-top: 15px; color: #fff; font-weight: 400; }
#gnbMenu .gnb li.story a { bottom: -70px; }
#gnbMenu .gnb li.product a { bottom: -70px; }
#gnbMenu .gnb li.seoulLog a { bottom: -70px; }
#gnbMenu .gnb li.promotionEvent a { bottom: -70px; }
#gnbMenu .gnb li .outline { color: transparent; -webkit-text-stroke: 1px #fff; }
#gnbMenu .gnb li.story.hover a { animation: outline 0.2s linear forwards;  }
#gnbMenu .gnb li.product.hover a { animation: outline 0.2s linear forwards;  }
#gnbMenu .gnb li.seoulLog.hover a { animation: outline 0.2s linear forwards;  }
#gnbMenu .gnb li.promotionEvent.hover a { animation: outline 0.2s linear forwards;  }
@keyframes outline { 0%{ top: 0; } 100%{ top: -55px;} }
header.active { mix-blend-mode: unset; } 
header.active .logo.st0 { fill: transparent; }
header.active .logo.st1 { fill: #fff; }
header.active .search.st0,
header.active .search.st1 { stroke: #fff; } 
header.active .logo span { color: #fff; }
header.active .star { stroke: #fff; }
header.active .openBtn .top,
header.active .openBtn .center,
header.active .openBtn .bottom { background-color: #fff; } 
@keyframes gnbBg { 0%{ top: -100%; } 100%{ top: 0; } }
header .openBtn.active .top { animation: gnbTop-01 0.8s linear forwards; }
header .openBtn.active .center { animation: gnbCetner-01 0.8s linear forwards; }
header .openBtn.active .bottom { animation: gnbBottom-01 0.8s linear forwards; }
header .openBtn.close .top { animation: gnbTop-02 0.8s linear forwards; }
header .openBtn.close .center { animation: gnbCetner-02 0.8s linear forwards; }
header .openBtn.close .bottom { animation: gnbBottom-02 0.8s linear forwards; }
@keyframes gnbTop-01 { 0%{ top: 0; transform: rotate(0deg);} 100%{ top: 8px; transform: rotate(-45deg); } }
@keyframes gnbCetner-01 { 100%{ width: 0; } }
@keyframes gnbBottom-01 { 0%{ bottom: 0; transform: rotate(0deg);} 100%{ bottom: 8px; transform: rotate(45deg); } }
@keyframes gnbTop-02 { 0%{ top: 8px; transform: rotate(-45deg); } 100%{ top: 0; transform: rotate(0deg);} }
@keyframes gnbCetner-02 { 0%{ width: 0; } 100%{ width: 25px; } }
@keyframes gnbBottom-02 { 0%{ bottom:8px; transform: rotate(45deg); } 100%{ bottom: 0; transform: rotate(0deg);} }

/* 텍스트 애니메이션 적용 */ 
.story .motion { animation-name:text70; animation-delay: 200ms; }
.product .motion { animation-name:text70; animation-delay: 400ms; }
.seoulLog .motion { animation-name:text70; animation-delay: 600ms; }
.promotionEvent .motion { animation-name:text70; animation-delay: 800ms; }

  

/* main */ 
#redBg_wrap { opacity: 0; width: 100%; height: 100%; position: absolute; background-color: var(--color); }
main #main .inner { display: flex; justify-content: space-between; }
main #main { position: relative; width: 100%; }
main #main h1.title01 { position:absolute; overflow: hidden; right: 0; margin-top: 4.8vw; display: flex; }
main #main h1.title01.fixed { position: fixed; }
main #main h1.title01.animated_opacity { animation: opacity 1s linear; opacity: 0; animation-fill-mode: backwards; } 
@keyframes opacity { 0%{ opacity: 1; } 100%{ opacity: 0; } } 
main #main h1.title01 span:first-of-type { position: relative; top: 0; font-family: 'Archivo', sans-serif; font-size: 12.8vw; letter-spacing: -10px; color: transparent; -webkit-text-stroke: 1px var(--color); }
main #main h1.title01 span:last-of-type { font-family: 'Archivo', sans-serif; font-size: 12.8vw; letter-spacing: -10px; margin-left: 50px; } 
main #main .fixedBox { width: 58%; height: 100vh; }
main #main .slide_container { z-index: 2; position: absolute; bottom: 0; width:55%; height: 100vh; overflow: hidden; } 
main #main .slide_container.fixed { position: fixed; }
main #main .slide_wrap { display: flex; width: 300% !important; height: 100%; position: absolute; padding-top: 28%; bottom: 0; }
main #main .slide_wrap .slide_content { position: relative; width: 100%; }
main #main .slide_wrap .slide_content img { width: 100%; height: 100%; object-fit: cover; }
main #main .slide_wrap .slide_content .textBox { position: absolute; left: 0; bottom: 0; margin:0 0 110px 6%; width: 90%; height: 120px;  }
main #main .slide_wrap .slide_content .textBox .title_inner { position: relative; overflow: hidden; height: 65px; }
main #main .slide_wrap .slide_content .textBox span.title { position: absolute; bottom: -125px;  font-size: 2.4vw; font-weight: 900; letter-spacing: -6px; color: #fff; }
main #main .slide_wrap .slide_content .textBox .subTitle_inner { position: relative; overflow: hidden; height: 50px; margin: 0.3vw 0 0 0; }
main #main .slide_wrap .slide_content .textBox span.subTitle { position: absolute; bottom: -80px; font-size: 1.8vw; letter-spacing: -4px; font-weight: 900; color: #fff; }
main #main .slide_bar { position: absolute; bottom: 0; left: 0; margin: 0 0 65px 6%; }
main #main .slide_bar span { color: #fff; }
main #main .slide_bar .slide_prograss {  position: relative; top: -3px; display: inline-block; margin: 0 10px; width: 280px; height: 5px; background-color: var(--color); border-radius: 25px; overflow: hidden;  }
main #main .slide_bar .slide_prograss .slide_prograss_inner { position: absolute; top: -5px;  width: 0px; height: 18px; background-color: #fff; }
main #main .slide_bar .slide_prograss .slide_prograss_inner.animate { animation: timer 3s linear; animation-iteration-count: infinite; } 
main #main .slide_bar .slide_prograss .slide_prograss_inner.pause { animation-play-state: paused; } 
main #main .slide_more { position: absolute; width: 80px; height: 80px; top: 60%; left: 6%; border-radius: 50%; border:1px solid #fff; }
main #main .slide_more:hover { animation: sizeUp 0.3s ease-in; animation-fill-mode: forwards; }
@keyframes sizeUp { 0%{ transform: scale(1); } 100%{ transform:scale(1.2);} }
main #main .slide_more .slide_line { position: absolute; right: 0; width: 0; height: 1px; background-color: #fff; top: 60%; left: 20%; }
main #main .slide_more span { color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); font-size: 12px; }
main #main .slide_more:hover span { animation: moreText 0.3s linear forwards; }
main #main .slide_more:hover .slide_line { animation: moreLine 0.3s linear forwards; }
@keyframes moreText { 100% { top: 40%; } }
@keyframes moreLine { 100% { width: 80px; } }
@keyframes timer { 0% { width: 0;} 100% { width: 100%; } } 
main #main .scroll_wrap { position: relative; right: 0; margin: 20vw 0 120px 0; width: 40%; }
main #main .scroll_wrap .imgBox { position: relative; float: left; width: 485px; height: 740px; }
main #main .scroll_wrap .imgBox img { z-index: 2; position: absolute; right: 0; width: 440px; height: 630px; }  
main #main .scroll_wrap .imgBox.img01:hover img:last-of-type,
main #main .scroll_wrap .imgBox.img02:hover img:last-of-type,
main #main .scroll_wrap .imgBox.img03:hover img:last-of-type { z-index: 3; display: block; animation: imgAnimate 2s ease-in-out; animation-fill-mode: forwards; opacity: 0;  }
main #main .scroll_wrap .imgBox.img01 img:last-of-type,
main #main .scroll_wrap .imgBox.img02 img:last-of-type,
main #main .scroll_wrap .imgBox.img03 img:last-of-type { z-index: 1; }
@keyframes  imgAnimate { 100%{ opacity: 1;} }
main #main .scroll_wrap .imgBox span { width: 280px; display: block; position: absolute; transform: rotate(90deg); top: 130px; left: -128px; font-size: 18px; font-weight: 600; letter-spacing: -1px; }
main #main .scroll_wrap .imgBox a { display: block; }
main #main .scroll_wrap .imgBox .bottomText { width: 440px; height: 90px; overflow: hidden; position: absolute; right: 0; bottom: 0; }
main #main .scroll_wrap .imgBox .bottomText p { position: relative; bottom: -40px; font-size: 1.6vw; font-weight: 600; letter-spacing: -5px; }
main #main .scroll_wrap .imgBox.img02 { float: right; margin-top: 25vw; }  
main #main .scroll_wrap .imgBox.img03 { margin-top: 25vw; }

/* 텍스트 애니메이션 적용 */ 
.bottomText.img01 .motion.animate__animated,
.bottomText.img02 .motion.animate__animated,
.bottomText.img03 .motion.animate__animated { animation-name:text80;}


/* section01 - product */
#product { padding-top: 350px; overflow: hidden; position: relative; background-color: var(--color); width: 100%; }
#product img { position: absolute; bottom: 0; width: 100%; }
#product .autoText { margin-top: 30px; position: absolute; display: block; font-weight: 900; font-size: 5vw; color: #fff; }
#product .content .titleBox { width: 100%; }
#product .content .titleBox span { color: #fff; }
#product .content .titleBox .title { text-align: center; overflow: hidden; }
#product .content .titleBox .title span { position: relative; display: block; font-size: 3vw; font-weight: 900; bottom: -70px; }
#product .content .subTitle { margin-top: 3vh; text-align: center; overflow: hidden; }
#product .content .subTitle span { position: relative; display: block; font-size: 1.2vw; font-weight: 600; bottom: -70px; } 
#product .content .productBox { visibility: hidden; position: relative; z-index: 2; margin: 15vw 0 600px 0; width: 100%; display: flex; justify-content: space-between; flex-wrap: wrap; }
#product .content .productBox li { position: relative; width: calc(98%/2); height:640px; background-color: #fff; margin-bottom: 25px; }
#product .content .productBox li:nth-of-type(2) { margin-top: 100px; }
#product .content .productBox li:nth-of-type(3) { margin-top: -100px; }
#product .content .productBox img { position: absolute; right: 0; width: 455px; height: 455px; margin: 25px; object-fit: contain; }

#product .content .textBox { width: 100%;  padding: 50px; }
#product .content .productBox .productTitle { font-size: 48px; font-weight: 900; display: block;  float: left; }
#product .content .productBox .productCategory { font-size: 20px; margin: 35px 0 0 30px; font-weight: 900; display: block; float: left; }
#product .content .productBox .productSubTitle { color: #767676; margin-top: 80px; font-weight: 600; letter-spacing: -2px; display: block; clear: left; }
#product .content .productBox .moreBox { position: absolute; width: 150px; height: 60px; margin: 50px; bottom: 0; left: 0;  }
#product .content .productBox .moreBox:hover::after { animation: rotateArrow 0.8s linear; }
@keyframes rotateArrow { 0%{ transform: rotate(0);} 100%{transform: rotate(360deg);} } 
#product .content .productBox .moreBox a.img { float: left; position: relative; display: block; width: 60px; height: 60px; border-radius: 30px; border: 1px solid #767676; }
#product .content .productBox .moreBox::after { position: absolute; display:block; content:''; width: 24px; height: 24px; margin: 17px; background: url(../img/arrow-right.png) no-repeat center; background-size: cover;  }
#product .content .productBox .moreBox .more { display: block; float: left; margin: 20px; color: #767676; font-weight: 600; }
.milk { color: #006546; }
.yogrt { color: #E4B48A; }
.beverage { color: #F5C141; }
.coffee { color: #983400; }

/* 텍스트 애니메이션 적용 */ 
.title .motion.animate__animated { animation-name: text70; }
.subTitle .motion.animate__animated { animation-name: text70; animation-delay: 500ms; }
.productBox.motion.animate__animated { animation-name: zoomIn; } 

/* section02 - story */
.content { width: 70%; margin: 0 auto; padding: 200px 0; }
#story_wrap { position: relative; width: 100%; background-color: #fff; }
#story_wrap .textBox { text-align: center; overflow: hidden; }
#story_wrap .textBox .topTextBox { width: 100%; overflow: hidden; }
#story_wrap .textBox .topTitle { position: relative; text-align: center; bottom: -40px; font-size: 18px; letter-spacing: -3px; font-weight: 600; display: block; }
#story_wrap .textBox .mainTextBox { margin: 30px 0; width: 100%; overflow: hidden; }
#story_wrap .textBox .mainTitle { position: relative; text-align: center; bottom: -180px; font-size: 60px; line-height: 1.1; font-weight: 900; display: block; letter-spacing: -2px; }
#story_wrap .textBox .bottomTextBox { width: 100%; overflow: hidden; }
#story_wrap .textBox .bottomTitle { position: relative; text-align: center; bottom: -70px; font-size: 18px; font-weight: 600; display: block; line-height: 1.8; letter-spacing: -3px; }
#story_wrap .textBox button { position: relative; bottom: -40px; margin-top: 90px; width: 180px; height: 40px; background-color:var(--color); border: 0; border-radius: 25px; }
#story_wrap .textBox button span { position: relative; color: #fff; letter-spacing: 0; display: block; width: 100px; margin-left: 30px; }
#story_wrap .textBox button span::after { font-family: 'FontAwesome'; content: '\f061'; position: absolute; top: 0; right: -22px; display: block; color: var(--color); font-size: 15px; line-height: 20px; background-color: #fff; border-radius: 25px; width: 20px; height: 20px; }
#story_wrap .inner {  margin-top: 120px; width: 100%; overflow: hidden; }
#story_wrap .imgBox { width: 100%; display: flex; gap: 15px; justify-content: space-between; }
#story_wrap .imgBox .img { position: relative; width: 200px; height: 200px; margin: 0 auto; }
#story_wrap .imgBox .text  { overflow: hidden; text-align: center; margin: 0 auto; width: 350px; }
#story_wrap .imgBox .text .textInner { position: relative; bottom: -250px; }
#story_wrap .imgBox .text span:first-of-type { margin: 45px 0 30px 0; display: block; font-size: 20px; font-weight: 900; letter-spacing: -2px; }
#story_wrap .imgBox .text span:last-of-type { display: block; color: #767676; font-weight: 600; line-height: 2; }


/* svg이미지 애니메이션 적용 */ 
@keyframes storymilk { 0% { background-position: 0px 0px; } 100% { background-position: -12000px 0px; } }
.storymilk { animation-timing-function: steps(60); width: 200px; height: 200px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); background-repeat: no-repeat; }
.storymilk.motion.animate__animated { animation-name: storymilk; }
@keyframes storyyogurt { 0% { background-position: 0px 0px; } 100% { background-position: -12000px 0px; } }
.storyyogurt { animation-timing-function: steps(60); width: 200px; height: 200px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); background-repeat: no-repeat; }
.storyyogurt.motion.animate__animated { animation-name: storyyogurt; }
@keyframes storycoffee { 0% { background-position: 0px 0px; } 100% { background-position: -12000px 0px; }}
.storycoffee { animation-timing-function: steps(60); width: 200px; height: 200px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); background-position: 100% 200px; background-repeat: no-repeat; }
.storycoffee.motion.animate__animated { animation-name: storycoffee; }

/* 텍스트 애니메이션 적용 */ 
@keyframes text40 { 0% {bottom:-40px; } 100% { bottom: 0; } }
.topTitle.motion.animate__animated { animation-name: text40; } 
button.motion.animate__animated { animation-name: text40; animation-delay: 1500ms; } 
@keyframes text70 { 0% {bottom:-70px; } 100% { bottom: 0; } }
.bottomTitle.motion.animate__animated { animation-name: text70; animation-delay: 1000ms; }
@keyframes text80 { 0% {bottom:-80px; } 100% { bottom: 0; } }
@keyframes text180 { 0% {bottom:-180px; } 100% { bottom: 0; } }
.mainTitle.motion.animate__animated { animation-name: text180; animation-delay: 500ms; } 
@keyframes text280 { 0% {bottom:-280px; } 100% { bottom: 0; } }
.textInner.motion.animate__animated { animation-name: text610; }
@keyframes text610 { 0% {bottom:-610px; } 100% { bottom: 0; } }
.imgBox.motion.animate__animated { animation-name: text610; }
 

/* section03 - seoulLove */
#seoulLove { position: relative; width: 100%; overflow: hidden; } 
#seoulLove .content { width: 80%; margin: 0 auto; padding: 600px 0;}
#seoulLove .circle01,
#seoulLove .circle03 { position: absolute; width: 250px; height: 250px; border-radius: 50%; background-color:var(--color); }
#seoulLove .circle02,
#seoulLove .circle04 { position: absolute; width: 180px; height: 180px; border-radius: 50%; background-color:var(--color); }
#seoulLove .textOuter span { letter-spacing: -3px; font-size:230px; font-family: 'Archivo', sans-serif; color: #fff; -webkit-text-stroke: 1px var(--color); }
#seoulLove .textOuter span:first-child { position: absolute; top: 250px; right: -20px; }
#seoulLove .textOuter span:last-child { position: absolute; left: -40px; bottom: 215px;}
#seoulLove .circle01 { top: 120px; left: 300px; }
#seoulLove .circle02 { top: 380px; left: -20px;}
#seoulLove .circle03 { bottom: 120px; right: 300px; }
#seoulLove .circle04 { bottom:380px; right: -20px; }
#seoulLove .textInner .seoulMilkReason { overflow: hidden; width: 100%; height: 150px; text-align: center;  }
#seoulLove .textInner .seoulMilkReason span { position: relative; bottom: -180px; font-size: 55px; font-weight: 900; letter-spacing: -3px; }
#seoulLove .textInner .text01 { overflow: hidden; width: 100%; margin-top: 120px; text-align: center; }
#seoulLove .textInner .text01 span,
#seoulLove .textInner .text02 span,
#seoulLove .textInner .text03 span { position: relative; bottom:-40px; font-size: 18px; font-weight: 600; letter-spacing: -2px; }
#seoulLove .textInner .text02,
#seoulLove .textInner .text03 { overflow: hidden; width: 100%; margin-top: 20px; text-align: center; }

/* 텍스트 애니메이션 적용 */ 
.text01 .motion.animate__animated { animation-name: text40; animation-delay: 500ms; } 
.text02 .motion.animate__animated { animation-name: text40; animation-delay: 1000ms; } 
.text03 .motion.animate__animated { animation-name: text40; animation-delay: 1500ms; } 
.seoulMilkReason .motion.animate__animated { animation-name: text180; } 

/* 마우스커서 움직임따라 애니메이션 적용 */ 
.circle01 { transform: translateX(calc(var(--mouse-x) * 0.05px)) translateY(calc(var(--mouse-y) * 0.05px)); }
.circle02 { transform: translateX(calc(var(--mouse-x) * -0.05px)) translateY(calc(var(--mouse-y) * -0.05px)); }
.circle03 { transform: translateX(calc(var(--mouse-x) * 0.05px)) translateY(calc(var(--mouse-y) * 0.05px)); }
.circle04 { transform: translateX(calc(var(--mouse-x) * -0.05px)) translateY(calc(var(--mouse-y) * -0.05px)); }




/* section04 - seoulLog */ 
#seoulLog { position: relative; width: 100%; overflow: hidden; }
#seoulLog .textBox { position: absolute; width: 315px; }
#seoulLog .content { width: 80%; margin: 200px auto; padding: 0;}
#seoulLog .subTitle span { margin-left: 12px; font-size: 20px; font-weight: 600; letter-spacing: -2px; }
#seoulLog .title { margin-top: 15px; }
#seoulLog .title span { font-size: 80px; font-weight: 900; letter-spacing: -6px; }
#seoulLog .logSlide_wrap { position: relative; height: 500px; overflow: hidden; margin-left: 345px; display: flex; }
#seoulLog .logSlide_wrap li { overflow: hidden; position: relative; width: 730px; height: 500px; } 
#seoulLog .logSlide_wrap li>span { display: block; position: absolute; transform: rotate(90deg); top: 110px; left: -100px; font-weight: 600; font-size: 15px; letter-spacing: -1px; }
#seoulLog .logSlide_wrap li .subTitle { position: absolute; font-weight: 900; color: #fff; font-size: 18px; bottom: 35px; left: 125px; z-index: 3; } 
#seoulLog .logSlide_wrap .coffeeText { top: 125px; left: -115px; }
#seoulLog .logSlide_wrap .strawBerryText { top: 120px; left: -115px; }
#seoulLog .logSlide_wrap .cheeseText { top: 105px; left: -100px; } 
#seoulLog .logSlide_wrap a::after { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 200px; background:linear-gradient(transparent,rgba(0, 0, 0, 0.882));}
#seoulLog .logSlide_wrap a { z-index: 2; position: absolute; display: block; width: 685px; height: 500px; right: 0; top: 0; }
#seoulLog .logSlide_wrap a img { object-fit: cover; position: absolute; z-index: -1; width: 100%; height: 100% }
#seoulLog .logSlide_wrap .play iframe { display: none; }
#seoulLog .logSlide_wrap .play.active iframe { display: block; z-index: 2; }
#seoulLog .logSlide_wrap .play.active .playIcon,
#seoulLog .logSlide_wrap .play.active .subTitle { animation: 0.8s slideDown linear forwards; }
#seoulLog .logSlide_wrap .playIcon { position: absolute; box-shadow: -5px 5px 10px #85858549; z-index: 3; left: 20px; bottom: 20px; width: 80px; height: 80px; background-color: #fff; border-radius: 50%; }
#seoulLog .logSlide_wrap .playIcon::after { position: absolute; content: ''; width: 30px; height: 30px; margin: 25px; background: url(../img/playIcon.png) no-repeat; background-size: contain; }
@keyframes slideDown { 0%{ bottom: 0px; } 100%{ bottom: -80px; } } 
#seoulLog .logSlide_wrap li.slide_list:not(.active):hover .hoverBox { animation: opacityLog 0.8s linear forwards; background-color: #000; width: 100%; height: 500px; } 
@keyframes opacityLog { 0%{ opacity: 0;} 100%{ filter: grayscale(0.8);} }
#seoulLog .logSlide_wrap iframe { width: 100%; height: 100%; }
#seoulLog .logSlide_wrap li.slide_video { width: 780px !important; height:500px;  }
#player0, #player1, #player2, #player3 { position: absolute; }


/* 푸터 */
footer { position: relative; background-color: var(--color) }
footer .content { width: 80%; margin: 0 auto; padding: 90px 0; }
footer span,
footer a { color: #fff; } 
footer .menu { float: left; }
footer .menu>li { position: relative;  margin: 30px 0 }
footer .menu>li a { font-size: 24px; font-weight: 600; } 
footer .menu>li:first-of-type a:hover::after { position: absolute; content: ''; width: 0;  height: 2px; animation: line68 0.2s linear forwards; bottom: -10px; left: 0;  background-color: #fff; }
footer .menu>li:nth-of-type(2) a:hover::after { position: absolute; content: ''; width: 0;  height: 2px; animation: line45 0.2s linear forwards; bottom: -10px; left: 0;  background-color: #fff; }
footer .menu>li:nth-of-type(3) a:hover::after { position: absolute; content: ''; width: 0;  height: 2px; animation: line90 0.2s linear forwards; bottom: -10px; left: 0;  background-color: #fff; }
footer .menu>li:nth-of-type(4) a:hover::after { position: absolute; content: ''; width: 0;  height: 2px; animation: line135 0.2s linear forwards; bottom: -10px; left: 0;  background-color: #fff; }
@keyframes line45 { 100%{ width: 45px;} }
@keyframes line68 { 100%{ width: 68px;} }
@keyframes line90 { 100%{ width: 90px;} }
@keyframes line135 { 100%{ width: 135px;} }
footer .rightBox { position: relative; width: 400px; float: right; } 
footer .familysite li.mainTitle { position: relative; border-bottom: 2px solid #fff; }
footer .familysite li.mainTitle .footer_plus { position: absolute; top: 35px; right: 0; content: ''; width: 30px; height: 30px; display: block; background: url(../img/footer_plus.png);  background-size: cover; }
footer .familysite li.mainTitle a { font-size: 24px; font-weight: 600; }
footer .familysite li a { display: block; padding: 25px 10px; }
footer .familysite li:not(.mainTitle) { display: none; text-align: center; background-color: #fff; border-bottom: 1px solid var(--color); }
footer .familysite li:not(.mainTitle) a { padding: 25px 20px;  color: var(--color); font-weight: 700; }
footer .sns_wrap { float: left; width: 400px; display: flex; justify-content: end; }
footer .sns { display: flex; justify-content: space-between; margin-top: 30px; width: 220px; } 
footer .sns li { width: 40px; height: 40px; }
footer .sns li a { display: block; }
footer .sns li img { width: 100%; height: 100%; }
footer .info{ clear: left; padding-top: 90px; }
footer .info li { display: inline; position: relative; margin-right: 15px; } 
footer .info li::after { content: ''; width: 1px; height: 10px; background-color: #fff; display: inline-block; margin: 10px; position: absolute;  }
footer .info span { display: inline-block; margin: 5px 0; font-weight: 400; letter-spacing: -1px; }
footer .info li:nth-of-type(3)::after, 
footer .info li:nth-of-type(5)::after,
footer .info li:nth-of-type(6)::after,
footer .info li:nth-of-type(7)::after { display: none; }
footer .info li:nth-of-type(7) span { margin:30px 0 0 0; }


/* 반응형 */
@media ( max-width: 1500px) {
    a,p,span,h1,h2,h3,h4,h5,h6 { font-family: var(--font); text-decoration: none; font-size: 14px; color: var(--color); }

    /* 사이드메뉴 */
    #gnbMenu .gnb li.story.hover a { animation: outline 0.2s linear forwards;  }
    @keyframes outline { 0%{ top: 0; } 100%{ top: -55px;} }

    /* 섹션 - 메인 */
    main #main h1.title01 { margin-top: 5.8vw; }
    main #main h1.title01 span:first-of-type { font-size: 15vw; }
    main #main h1.title01 span:last-of-type { font-size: 15vw; }
    main #main .scroll_wrap { width: 43%; margin: 30vw 0 120px 0; }
    main #main .scroll_wrap .imgBox { width: 360px; height: 565px; }
    main #main .scroll_wrap .imgBox img { width: 320px; height: 480px;} 
    main #main .scroll_wrap .imgBox .bottomText { width: 320px; height: 65px; }
    main #main .scroll_wrap .imgBox .bottomText p { font-size: 24px; }
    main #main .slide_wrap { padding-top: 33%; }
    main #main .slide_wrap .slide_content .textBox { width: 80%; height: 110px; }
    main #main .slide_wrap .slide_content .textBox .title_inner { height: 60px; }
    main #main .slide_wrap .slide_content .textBox span.title { font-size: 2.9vw; }
    main #main .slide_wrap .slide_content .textBox .subTitle_inner { height: 45px; }
    main #main .slide_wrap .slide_content .textBox span.subTitle { font-size: 2.2vw; }
   
    /* 섹션 - 제품 */
    .content { width: 90%; } 
    #product .autoText  { font-size: 10vw; } 
    #product .content .textBox { padding: 3vw; }
    #product .content .titleBox .title span { font-size: 38px; }
    #product .content .subTitle span { font-size: 18px; }
    #product .content .productBox { margin: 15vw 0 0 0; padding-bottom: 400px; }
    #product .content .productBox li { height: 510px; } 
    #product .content .productBox .productCategory { font-size:  1.8vw; margin: 1.9vw 0 0 30px; }
    #product .content .productBox .productTitle { font-size: 3.5vw; } 
    #product .content .productBox img { height: 365px; }

    /* 섹션 - 스토리 */
    #story_wrap .textBox .mainTitle { font-size: 55px; } 
    #story_wrap .textBox button { width: 160px; height: 35px; }
    #story_wrap .textBox button span::after { top: -1px; }
    #story_wrap .textBox button span { width: 85px; } 
    #story_wrap .inner { margin-top: 10vw; }
    #story_wrap .imgBox { justify-content: space-evenly; width: 75%; margin: 0 auto; }
    #story_wrap .imgBox .img { width: 250px; height: 250px; }
    #story_wrap .imgBox .text { width: 250px; } 

    /* 섹션 - 사랑하는 이유 */
    #seoulLove .content { padding: 55vw 0; }
    #seoulLove .textOuter span:first-child,
    #seoulLove .textOuter span:last-child { font-size: 16vw; } 
    #seoulLove .textInner .text01 { margin-top: 5vw; }
    #seoulLove .circle01 { top: 10vw; left: 15vw; }
    #seoulLove .circle02 { top: 45vw; left: -2vw; }
    #seoulLove .circle03 { bottom: 10vw; right: 20vw; }
    #seoulLove .circle04 { bottom: 35vw; right: -8vw; }
    #seoulLove .circle01, #seoulLove .circle03 { width: 250px; height: 250px; }
    #seoulLove .circle02, #seoulLove .circle04 { width: 155px; height: 155px; }

    /* 섹션 - 서울로그 */
    #seoulLog .logSlide_wrap { height: 420px; }
    #seoulLog .logSlide_wrap a { width: 93%; height: 420px;  } 
    #seoulLog .logSlide_wrap li { width: 50vw; height: 420px; }
    #seoulLog .logSlide_wrap li.yogurt img { object-position: 100%; }
    
}  

@media ( max-width: 1024px ) {  

    /* 사이드 바 */
    #scrollbar { display: none; }

    /* 사이드 메뉴 */
    #gnbMenu .gnb li { height: 45px; }
    #gnbMenu .gnb li a { font-size: 34px; height: 45px; }
    #gnbMenu .gnb li.story.hover a { animation: outline 0.2s linear forwards;  }
    @keyframes outline { 0%{ top: 0; } 100%{ top: -45px;} } 
    #gnbMenu .gnbFooter { width: 97%; } 

    /* 섹션 - 메인 */ 
    main #main .scroll_wrap { margin: 30vw 0 120px 0; width: 45%; } 
    main #main .scroll_wrap .imgBox { width: 315px; height: 510px; }
    main #main .scroll_wrap .imgBox img { width: 285px; height: 430px; }  
    main #main .scroll_wrap .imgBox .bottomText { width: 285px; }
    main #main .scroll_wrap .imgBox .bottomText p { font-size: 20px; letter-spacing: -3px; }
    main #main .slide_wrap { padding-top: 40%; }
    main #main .slide_wrap .slide_content .textBox { height: 110px; } 
    main #main .slide_wrap .slide_content .textBox span.title { font-size: 3.6vw; } 
    main #main .slide_wrap .slide_content .textBox span.subTitle { font-size: 2.8vw; }
    main #main .slide_wrap .slide_content.yogurt img { object-position: 55%;}
    main #main .slide_wrap .slide_content.slideCoffee img { object-position: 30%;}
    main #main .slide_wrap .slide_content.strawBerry img { object-position: 65%;} 

    /* 섹션 - 제품 */
    #product .content .productBox li { height: 425px; }
    #product .content .productBox .productCategory { font-size: 2vw; margin: 2.5vw 0 0 15px; }
    #product .content .productBox .productSubTitle { margin-top: 8vw; }
    #product .content .productBox .moreBox { margin: 3vw; }
    #product .content .productBox .productTitle { font-size: 4.3vw; } 
    #product .content .productBox img { width: 295px; height: 295px; }

    /* 섹션 - 스토리 */
    #story_wrap .inner { margin-top: 20vw; }
    #story_wrap .imgBox { flex-wrap: wrap; width: 90%; }
    #story_wrap .imgBox .img { width: 280px; height: 280px; }
    #story_wrap .imgBox .text { width: 280px; }
    #story_wrap .imgBox .text span:first-of-type { font-size: 18px; margin: 0 0 30px 0; }
    #story_wrap .imgBox li:nth-of-type(3) { margin-top: 80px; }

    
    /* 섹션 - 사랑하는 이유 */
    #seoulLove .content { padding: 60vw 0; }
    #seoulLove .textInner .seoulMilkReason span { font-size: 55px; } 
    #seoulLove .textOuter span:first-child, #seoulLove .textOuter span:last-child { font-size: 22vw; }
    #seoulLove .circle01, #seoulLove .circle03 { width: 200px; height: 200px; }
    #seoulLove .circle02, #seoulLove .circle04 { width: 100px; height: 100px; }
    #seoulLog .logSlide_wrap li>span { width: 285px; top: 132px; left: -125px; }
    #seoulLog .logSlide_wrap .coffeeText { top: 132px; left: -125px; }
    #seoulLog .logSlide_wrap .strawBerryText { top: 132px; left: -125px; } 
    #seoulLog .logSlide_wrap .cheeseText { top: 132px; left: -125px; }
    
    
    /* 섹션 - 서울로그 */
    #seoulLog .content { margin: 15vw auto; }
    #seoulLog .subTitle span { font-size: 18px; }
    #seoulLog .title { margin-bottom: 50px; margin-top: 10px; }
    #seoulLog .title span { font-size: 68px; }
    #seoulLog .textBox { position: static; width: 100%; }
    #seoulLog .logSlide_wrap { height: 500px; margin-left: 0; } 
    #seoulLog .logSlide_wrap a {  height: 500px; } 
    #seoulLog .logSlide_wrap li { width: 78vw; height: 500px;  }
    #seoulLog .logSlide_wrap li.yogurt img { object-position: 100%; } 
  
}   

@media ( max-width:1024px) {  
    /* 섹션 - 메인 */
    main #main h1.title01 { width: 100%; margin-top: 0; margin: 10vw auto 0 auto; justify-content: center; }
    main #main h1.title01 span:first-of-type { font-size: 14vw; letter-spacing: -6px; margin-left: 0; }
    main #main h1.title01 span:last-of-type { font-size: 14vw; letter-spacing: -6px; margin-left: 10px; }
    main #main .fixedBox { width: 90%; height: 100vh; margin: 0 auto; } 
    main #main .slide_container { position: relative; bottom: initial; top: 30vw; width: 100%; height: 570px; } 

    main #main .slide_bar { margin: 0 0 55px 6%; } 
    main #main .slide_more { top: 40%; }  
    main #main .inner { flex-wrap: wrap; flex-direction: column; }
    main #main .slide_wrap { padding: 0; }
    main #main .slide_wrap .slide_content { height: 570px; }
    main #main .slide_wrap .slide_content .textBox { margin: 0 0 90px 6%; }
    main #main .slide_wrap .slide_content .textBox span.title { font-size: 4vw; letter-spacing: -4px; }
    main #main .slide_wrap .slide_content .textBox span.subTitle { font-size: 2.4vw; letter-spacing: -2px; }
    main #main .slide_wrap .slide_content .textBox .subTitle_inner { height: 40px; }
    main #main .scroll_wrap { width: 90%; margin: 15vw auto 120px auto; }
    main #main .scroll_wrap .imgBox { width: 360px; }
    main #main .scroll_wrap .imgBox img { width: 310px; }
    main #main .scroll_wrap .imgBox .bottomText { width: 310px; }  
    main #main .scroll_wrap .imgBox.img02 { margin-top: 35vw; } 
    main #main .scroll_wrap .imgBox.img03 { margin-top: 20vw; } 
    main #main .scroll_wrap .imgBox span { left: -115px; }

    #seoulLog .logSlide_wrap li>span { width: 285px; top: 132px; left: -135px; }
    #seoulLog .logSlide_wrap .coffeeText { top: 132px; left: -135px; }
    #seoulLog .logSlide_wrap .strawBerryText { top: 132px; left: -135px; } 
    #seoulLog .logSlide_wrap .cheeseText { top: 132px; left: -135px; }
    

}
@media ( max-width:816px) {  
    main #main .scroll_wrap .imgBox.img02 { margin-top: 15vw; } 
    main #main .scroll_wrap .imgBox.img03 { margin-top: 15vw; } 
}
@media ( max-width:730px) {  
    a,p,span,h1,h2,h3,h4,h5,h6 { font-family: var(--font); text-decoration: none; font-size: 13px; color: var(--color); }
    
    
    /* 사이드 메뉴 */
    #gnbMenu .gnb li { height: 40px; }
    #gnbMenu .gnb li a { font-size: 28px; height: 40px; }
    @keyframes outline { 0%{ top: 0; } 100%{ top: -40px;} }
    #gnbMenu .gnbFooter { width: 95%; }
 
    /* 섹션 - 메뉴 */
    main #main h1.title01 { width: 100%; margin-top: 0; margin: 18vw auto 0 auto; justify-content: center;  } 
    main #main h1.title01 span:first-of-type,
    main #main h1.title01 span:last-of-type { font-size: 13vw; letter-spacing: -4px; }
    main #main .slide_wrap .slide_content .textBox span.title { font-size: 5.5vw; letter-spacing: -4px; }
    main #main .slide_wrap .slide_content .textBox span.subTitle { font-size: 3.2vw; letter-spacing: -2px; }
    
    main #main .slide_wrap .slide_content .textBox .subTitle_inner { height: 30px; }
    main #main .slide_container { top: 35vw; }

    /* 섹션 - 제품 */
    #product .autoText { font-size: 12vw; }
    #product .content .titleBox .title span { font-size: 5vw; }
    #product .content .subTitle span { font-size: 2.7vw; }
    #product .content .textBox { padding: 5vw; }
    #product .content .productBox { flex-wrap: wrap; justify-content: center; padding-bottom: 100px; }
    #product .content .productBox li { width: 380px; height: 380px; }
    #product .content .productBox li:nth-of-type(2),
    #product .content .productBox li:nth-of-type(3) { margin-top: 0; } 
    #product .content .productBox .productTitle { font-size: 4.5vw; }
    #product .content .productBox .productCategory { font-size: 2.4vw; }
    #product .content .productBox .productSubTitle { margin-top: 8vw; }
    #product .content .productBox .moreBox { margin: 5vw; } 
    #product .content .productBox img { height: 235px; }

    /* 섹션 - 스토리  */
    #story_wrap .textBox .topTitle,
    #story_wrap .textBox .bottomTitle { font-size: 2.7vw; }
    #story_wrap .textBox .mainTitle { font-size: 7vw; } 
    #story_wrap .imgBox { flex-wrap: wrap; justify-content: center; width: 85%; }
    #story_wrap .imgBox .text { width: 350px; }
    #story_wrap .imgBox .img { width: 350px; height: 350px; } 
    #story_wrap .textBox .topTitle, #story_wrap .textBox .bottomTitle { font-size: 2.7vw; font-weight: 900; }
    
    /* 섹션 - 사랑하는 이유 */
    #seoulLove .content { padding: 90vw 0; }
    #seoulLove .textInner .seoulMilkReason span { font-size: 7vw; }
    #seoulLove .textOuter span:first-child { position: absolute; top: 250px; right: -10px; }
    #seoulLove .textOuter span:last-child { position: absolute; left: -20px; bottom: 215px; }
    #seoulLove .circle01, #seoulLove .circle03 { width: 150px; height: 150px; }
    #seoulLove .circle02, #seoulLove .circle04 { width: 80px; height: 80px; }
    
    /* 섹션 - 서울로그 */
    #seoulLog .title span { font-size: 10vw; }
    #seoulLog .subTitle span { font-size: 2.7vw; }
    #seoulLog .logSlide_wrap li .subTitle { font-size: 15px; bottom: 40px; left:120px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 60%; }

    /* 푸터 */
    footer .content { width: 80%; padding: 10vw 0; display: grid;  }
    footer .rightBox { width: 100%; margin: 0 auto; }
    footer .sns_wrap { float: right; }
    footer .menu { grid-row: 2/3; margin: 8vw 0; width: 150px; }
    footer .menu>li { margin: 5vw 0; } 
    footer .menu>li a { font-size: 18px; }
    footer .familysite li.mainTitle a { font-size: 24px; } 
    footer .info { margin-top: 2vw; padding: 0; width: 100%; }  
    footer .menu>li:first-of-type a:hover::after { animation: line50 0.2s linear forwards; }
    footer .menu>li:nth-of-type(2) a:hover::after { animation: line35 0.2s linear forwards; }
    footer .menu>li:nth-of-type(3) a:hover::after { animation: line70 0.2s linear forwards; }
    footer .menu>li:nth-of-type(4) a:hover::after { animation: line100 0.2s linear forwards; }
    @keyframes line50 { 100%{ width: 50px;} }
    @keyframes line35 { 100%{ width: 35px;} }
    @keyframes line70 { 100%{ width: 70px;} }
    @keyframes line100 { 100%{ width: 100px;} }
        
}
 

@media (max-width:486px) {  
    /* 스크롤 바 */
    #scrollbar { display: none; } 
    
    /* 헤더 */
    #header_wrap { display: none; }
    header .logo { line-height: 80px; }

    /* 섹션 - 메인  */
    main #main h1.title01 { margin: 20vw auto 0 auto; }
    main #main h1.title01 span:first-of-type,
    main #main h1.title01 span:last-of-type { font-size: 13vw; letter-spacing: -2px; }
    main #main .scroll_wrap { margin: 30vw auto 120px auto; }
    main #main .scroll_wrap .imgBox { width: 350px; height: 535px; float: unset; margin: 0 auto; }
    main #main .scroll_wrap .imgBox a { display: block; }  
    main #main .scroll_wrap .imgBox img { width: 315px; height: 455px; }
    main #main .scroll_wrap .imgBox span { left: -128px; }
    main #main .scroll_wrap .imgBox .bottomText { width: 315px; }
    main #main .scroll_wrap .imgBox .bottomText p { font-size: 20px; }
    main #main .scroll_wrap .imgBox.img02 { float: unset; margin-top: 20vw; } 
    main #main .scroll_wrap .imgBox.img03 { margin-top: 20vw; } 
    main #main .fixedBox { height: 100%; }
    main #main .slide_container { top:0; margin-top: 160px; height: 540px; } 
    main #main .slide_wrap .slide_content { height: 540px; }
    main #main .slide_wrap .slide_content .textBox { height: 55px; margin: 0 0 105px 6%; }
    main #main .slide_wrap .slide_content .textBox .title_inner { height: 40px; }
    main #main .slide_wrap .slide_content .textBox .subTitle_inner { height: 30px; }
    main #main .slide_wrap .slide_content .textBox span.title { font-size: 6vw; letter-spacing: -3px; }
    main #main .slide_wrap .slide_content .textBox span.subTitle { font-size: 4.2vw; letter-spacing: -2px; }
    main #main .slide_wrap .slide_content.slideCoffee img { object-position: 25%;}
    main #main .slide_bar .slide_prograss { width: 260px; }
    

    /* 섹션 -제품 */
    #product .content .titleBox .title span { font-size: 22px; }
    #product .content .subTitle span { font-size: 13px; }
    #product .content .productBox .productTitle { font-size: 28px; }
    #product .content .productBox .productSubTitle { letter-spacing: -1px; margin-top: 12vw; }
    #product .content .productBox .productCategory { font-size: 14px; margin: 15px 0 0 15px; }
    
    /* 섹션 - 스토리 */
    .content { width: 90%; padding: 40vw 0; }
    #seoulLog .content,
    #story_wrap .imgBox { width: 90%; }  
    #story_wrap .textBox .mainTextBox { margin: 6.5vw 0;}
    #story_wrap .textBox .mainTitle { font-size: 34px; }
    #story_wrap .textBox .topTitle, #story_wrap .textBox .bottomTitle { font-size: 13px; letter-spacing: -2px; }
    #story_wrap .textBox button { width: 135px; height: 30px; margin-top: 65px; }
    #story_wrap .textBox button span { margin-left: 15px; }
    #story_wrap .textBox button span::after { width: 20px; height: 20px; right: -25px; }
   
    /* 섹션 - 서울사랑하는 이유 */
    #seoulLove .content { width: 90%; padding: 105vw 0; }
    #seoulLove .textInner .seoulMilkReason { height: 140px; }
    #seoulLove .textInner .seoulMilkReason span { font-size: 34px; }
    #seoulLove .textOuter span:last-child { bottom: 240px; }
    #seoulLove .textInner .text01 span, #seoulLove .textInner .text02 span, #seoulLove .textInner .text03 span { font-size: 13px; letter-spacing: -1px; }
    
    /* svg이미지 애니메이션 적용 */ 
    .storymilk.motion.animate__animated { animation-name: storymilk; animation-delay: 500ms; }
    .storyyogurt.motion.animate__animated { animation-name: storyyogurt; animation-delay: 1000ms; }
    .storycoffee.motion.animate__animated { animation-name: storycoffee; animation-delay: 1500ms; }


    /* 섹션 - 서울로그 */
    #seoulLog .title { margin-top: 5px; margin-bottom:25px; }
    #seoulLog .title span { font-size: 58px; }
    #seoulLog .subTitle span { font-size: 16px; }
    #seoulLog .logSlide_wrap a { width: 90%; }
    #seoulLog .logSlide_wrap li { width: 360px; }  
    #seoulLog .logSlide_wrap li .subTitle { font-size: 13px; width: 175px; left: 100px; bottom: 33px; }
    #seoulLog .logSlide_wrap .playIcon { width: 60px; height: 60px; }
    #seoulLog .logSlide_wrap .playIcon::after { width: 20px; height: 20px; margin: 20px; }
    #seoulLog .logSlide_wrap li>span,
    #seoulLog .logSlide_wrap .coffeeText,
    #seoulLog .logSlide_wrap .strawBerryText,
    #seoulLog .logSlide_wrap .cheeseText { left: -125px; }

    /* 푸터 */
    footer .menu>li { margin: 8vw 0; } 
    footer .menu>li a { font-size: 18px; }
    footer .sns { width: 190px; float: right; }
    footer .content { width: 90%; }
    footer .rightBox { width: 100%; }
    footer .sns_wrap { width: 100%; display: unset; }
    footer .familysite li a { padding: 25px 0; } 
    footer .info span { font-size: 11px; }
    footer .menu>li:first-of-type a:hover::after { animation: line45 0.2s linear forwards; }
    footer .menu>li:nth-of-type(2) a:hover::after { animation: line30 0.2s linear forwards; }
    footer .menu>li:nth-of-type(3) a:hover::after { animation: line60 0.2s linear forwards; }
    footer .menu>li:nth-of-type(4) a:hover::after { animation: line85 0.2s linear forwards; }
    @keyframes line45 { 100%{ width: 45px;} }
    @keyframes line30 { 100%{ width: 30px;} }
    @keyframes line60 { 100%{ width: 60px;} }
    @keyframes line85 { 100%{ width: 85px;} }
        
}