*{ margin: 0; padding: 0; box-sizing: border-box;/*  border: 1px solid #000 */; }
 
ul, li { list-style: none; }
a,p,span,h1,h2,h3,h4,h5,h6 { text-decoration: none; font-size: 15px; color: #E00909; }
@font-face {
    font-family: 'SEOULMILK 1000mL';
    src: url(../font/SEOULMILK\ 1000mL\ TTF.ttf);
} 
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
  } 
:root { --color: #E00909; --font:'NotoSansKR', sans-serif; }
body, textarea:focus, input:focus, a:focus { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
#scrollbar { mix-blend-mode: difference; z-index: 4; position: fixed; bottom: 30px; right: 30px; width:30px; height: 410px;  }
#scrollbar .scrollbar_right { margin: 50px auto; overflow: hidden; z-index: 2; width: 5px; height: 280px; background-color: rgba(233, 233, 233, 0.567); border-radius: 25px; }
#scrollbar .scrollbar_right .scroll_text { display: flex; align-items: center; position:absolute; width: 410px; height: 30px; top: 190px; right: -192px; transform: rotate(90deg); font-size: 15px; font-weight: 900; }
#scrollbar .scrollbar_right .scroll_text span:first-of-type { display: none; color: #00fff3; }
#scrollbar .scrollbar_right .scroll_text span:last-of-type { position: absolute; right: 0; color: #00fff3; }
#scrollbar .scrollbar_right .scrollbar_inner { z-index: 3; top: 0; right: 0;  width: 5px; height: 0; background-color: #00fff3;  border-radius: 25px; }

/* header */
#smoothScroll { top: 0; right: 0; bottom: 0; left: 0; overflow: scroll; } 
#bg { width: 100vw; height: 100vh; position: fixed; background: url(../img/bg.jpg) no-repeat; background-size: cover; }
header {  mix-blend-mode: difference; z-index: 4; position: fixed; width: 100%; height: 80px; /* background-color: #fff; */ }
header #header_wrap { display: flex; justify-content: space-between; align-items: center; width: 90%; height: 80px; margin: 0 auto; }
header .logo { width: 180px; height: 80px; }
header .logo a {  display: flex; justify-content: space-between; align-items: center;  }
header .logo span {  font-family: 'SEOULMILK 1000mL'; font-size: 24px; color: #00fff3;  }
header .logo img { width: 80px; height: 80px; }
header input#search { width: 30px; height: 30px; }
header .inner { display: flex; width: 70px; justify-content: space-between; align-items: center; } 
header .gnbBtn .openBtn,
header .gnbBtn .closeBtn { position: relative; width: 25px; height: 20px; }
header .gnbBtn .openBtn .top { display: block; position: absolute; top: 0; right: 0; width: 20px; height: 3px; border-radius: 25px; background-color: #00fff3; }
header .gnbBtn .openBtn .center { display: block; position: absolute; top: 8px; right: 0; width: 25px; height: 3px; border-radius: 25px; background-color: #00fff3; }
header .gnbBtn .openBtn .bottom { display: block; position: absolute; bottom: 0; right: 0; width: 20px; height: 3px; border-radius: 25px; background-color: #00fff3; }

/* closebtn 수정 */
header .gnbBtn .closeBtn { display: none; } 
header .gnbBtn .closeBtn .top { position: absolute; top: 8px; width: 25px; height: 3px; border-radius: 25px; background-color: var(--color); transform: rotate(-45deg); }
header .gnbBtn .closeBtn .center { display: none; }
header .gnbBtn .closeBtn .bottom { position: absolute; top: 8px; width: 25px; height: 3px; border-radius: 25px; background-color: var(--color); transform: rotate(45deg); }

/* main */ 
#redBg_wrap { opacity: 0; width: 100%; height: 3745px; position: absolute; background-color: var(--color); }
main #main { display: grid; position: relative; width: 100%; justify-content: end; }
main #main h1.title01  { position: fixed; overflow: hidden; height: 230px; right: 0; margin-top: 50px; display: flex; }
main #main h1.title01.animated_opacity { animation: opacity 1s linear; opacity: 0; animation-fill-mode: backwards; } 
@keyframes opacity { 0%{ opacity: 1; } 100%{ opacity: 0; } } 
main #main h1.title01 span:first-of-type { position: relative; top: 0; font-family: 'Archivo', sans-serif; font-size: 210px;  letter-spacing: -10px; color: transparent; -webkit-text-stroke: 1px var(--color); }
main #main h1.title01 span:last-of-type { font-family: 'Archivo', sans-serif; font-size: 210px; letter-spacing: -10px; margin-left: 50px; } 
main #main .slide_container { z-index: 2; position: fixed; bottom: 0; width:1030px; height: 720px; overflow: hidden; }
main #main .slide_wrap { display: flex; width: 3090px !important; height: 720px; }
main #main .slide_wrap .slide_content { position: relative; width: 1030px; height: 720px; }
main #main .slide_wrap .slide_content img { width: 100%; height: 100%; object-fit: cover; }
main #main .slide_wrap .slide_content .textBox { position: absolute; left: 50px; bottom: 120px;  }
main #main .slide_wrap .slide_content .textBox .title_inner { bottom: 100px; position: absolute; overflow: hidden; width: 920px; height: 105px; }
main #main .slide_wrap .slide_content .textBox span.title { position: absolute; bottom: -125px;  font-size: 70px; font-weight: 900; letter-spacing: -3px; color: #fff; }
main #main .slide_wrap .slide_content .textBox .subTitle_inner { overflow: hidden; position: absolute; bottom: 0; width: 700px; height: 80px; }
main #main .slide_wrap .slide_content .textBox span.subTitle { position: absolute; bottom: -80px; font-size: 50px; font-weight: 900; color: #fff; }
main #main .slide_bar { position: absolute; bottom: 60px; left: 50px; }
main #main .slide_bar span { color: #fff; }
main #main .slide_bar .slide_prograss {  position: relative; top: 0; display: inline-block; margin: 0 10px; width: 280px; height: 8px; background-color: var(--color); border-radius: 25px; overflow: hidden;  }
main #main .slide_bar .slide_prograss .slide_prograss_inner { position: absolute; top: -5px;  width: 0px; height: 18px; background-color: #fff; }
main #main .slide_bar .slide_prograss .slide_prograss_inner.animate { animation: timer 3s linear; animation-iteration-count: infinite; } 
main #main .slide_bar .slide_prograss .slide_prograss_inner.pause { animation-play-state: paused; } 
main #main .slide_more { cursor: pointer; position: absolute; width: 80px; height: 80px; top: 40%; left: 70px; border-radius: 50%; border:1px solid #fff; }
main #main .slide_more:hover { animation: sizeUp 0.3s ease-in; animation-fill-mode: forwards; }
@keyframes sizeUp { 0%{ transform: scale(1); } 100%{ transform:scale(1.2);} }
main #main .slide_more .slide_line { position: absolute; width: 80px; height: 1px; background-color: #fff; top: 60%; left: 20%; }
main #main .slide_more span { color: #fff; position: absolute; top: 40%; left: 50%; transform: translate(-50%,-50%); font-size: 12px; }
@keyframes timer { 0% { width: 0;} 100% { width: 100%; } } 
main #main .scroll_wrap { position: relative; right: 0; margin: 430px 0; width: 810px; }
main #main .scroll_wrap .imgBox { position: relative; float: left; width: 500px; height: 700px; }
main #main .scroll_wrap .imgBox img { z-index: 2; position: absolute; right: 0; width: 440px; height: 630px; }  
main #main .scroll_wrap .imgBox.img01:hover img:last-of-type,
main #main .scroll_wrap .imgBox.img02:hover img:last-of-type,
main #main .scroll_wrap .imgBox.img03:hover img:last-of-type { z-index: 3; display: block; animation: imgAnimate 2s ease-in-out; animation-fill-mode: forwards; opacity: 0;  }
main #main .scroll_wrap .imgBox.img01 img:last-of-type,
main #main .scroll_wrap .imgBox.img02 img:last-of-type,
main #main .scroll_wrap .imgBox.img03 img:last-of-type { z-index: 1; }
@keyframes  imgAnimate { 100%{ opacity: 1;} }
main #main .scroll_wrap .imgBox.img01 span { display: block; position: absolute; transform: rotate(90deg); top: 105px; left: -80px; font-size: 18px; font-weight: 600; letter-spacing: -1px; }
main #main .scroll_wrap .imgBox.img01 .bottomText { width: 445px; overflow: hidden; height: 50px; position: absolute; bottom: 0; left: 55px; }
main #main .scroll_wrap .imgBox.img01 .bottomText p { position: relative; bottom: -40px; font-size: 32px; font-weight: 600; letter-spacing: -5px; }
 
main #main .scroll_wrap .imgBox.img02 { height: 740px; position: relative; float: right; margin-top: 350px; }  
main #main .scroll_wrap .imgBox.img02 span { color: #006546;  display: block; position: absolute; transform: rotate(90deg); top: 80px; left: -60px; font-size: 18px; font-weight: 600; letter-spacing: -1px;  }  
main #main .scroll_wrap .imgBox.img02 .bottomText { width: 445px; overflow: hidden; height: 90px; position: absolute; bottom: 0; left: 55px; }
main #main .scroll_wrap .imgBox.img02 .bottomText p { color: #006546; position: relative; bottom: -40px; font-size: 32px; font-weight: 600; letter-spacing: -5px; }

main #main .scroll_wrap .imgBox.img03 { height: 740px; margin-top: 350px; }main #main .scroll_wrap .imgBox.img03 span { color: #264e6e; display: block; position: absolute; transform: rotate(90deg); top: 100px; left: -80px; font-size: 18px; font-weight: 600; letter-spacing: -1px; }  
main #main .scroll_wrap .imgBox.img03 .bottomText { width: 445px; overflow: hidden; height: 90px; position: absolute; bottom: 0; left: 55px; }
main #main .scroll_wrap .imgBox.img03 .bottomText p { color: #264e6e; position: relative; bottom: -40px; font-size: 32px; font-weight: 600; letter-spacing: -5px; }

main #main .slide_container.nofixed { position: absolute; bottom: 0; }
.bottomText .motion.animate__animated { animation-name:text40;}
.bottomText.img02 .motion.animate__animated { animation-name:text80;}


/* section01 - product */
#product { margin-top: 5px; padding-top: 350px; overflow: hidden; position: relative; background-color: var(--color); width: 100%; }
#product img { position: absolute; bottom: 0; width: 100%; }
#product .autoText { margin-top: 30px; position: absolute; display: block; font-weight: 900; font-size: 115px; color: #fff; letter-spacing: -3px; }
#product .content .textBox { width: 100%; }
#product .content .textBox span { color: #fff; }
#product .content .title { text-align: center; overflow: hidden; }
#product .content .title span { position: relative; display: block; font-size: 60px; font-weight: 900; letter-spacing: -2px; bottom: -70px; }
#product .content .subTitle { margin-top: 50px; text-align: center; overflow: hidden; }
#product .content .subTitle span { position: relative; display: block; font-size: 24px; font-weight: 600; letter-spacing: -1px; bottom: -70px; } 
#product .content .productBox { visibility: hidden; position: relative; z-index: 2; margin: 250px 0 500px 0; width: 100%; display: flex; justify-content: space-between; flex-wrap: wrap; }
#product .content .productBox li { position: relative; width: calc(98%/2); height:625px; background-color: #fff; margin-bottom: 25px; }
#product .content .productBox li:nth-of-type(2) { margin-top: 100px; }
#product .content .productBox li:nth-of-type(3) { margin-top: -100px; }
#product .content .productBox img { position: absolute; right: 0; margin: 50px; width: 280px; height: 400px; }
#product .content .productBox .productTitle { font-size: 48px; font-weight: 900; letter-spacing:-2px;  display: block; margin: 70px 0 20px 50px; float: left; }
#product .content .productBox .productCategory { font-size: 18px; font-weight: 900; letter-spacing:-2px;  display: block; float: left; margin:100px 0 0 20px; }
#product .content .productBox .productSubTitle { width: 305px; color: #343434; font-weight: 600; font-size: 16px; letter-spacing: -2px; display: block; margin-left:50px; clear: left; }
#product .content .productBox .moreBox { position: absolute; width: 150px; height: 50px; bottom: 80px; left: 50px;  }
#product .content .productBox .moreBox a.img { float: left; position: relative; display: block; width: 60px; height: 60px; border-radius: 30px; border: 1px solid #343434; }
#product .content .productBox .moreBox::after { position: absolute; display:block; content:''; width: 24px; height: 24px; margin: 17px; background: url(../img/arrow-right.png) no-repeat center; background-size: cover;  }
#product .content .productBox .moreBox .more { display: block; float: left; margin: 20px; color: #343434; font-weight: 600; letter-spacing: -1px;  }
.milk { color: #006546; }
.yogrt { color: #E4B48A; }
.beverage { color: #F5C141; }
.coffee { color: #983400; }

/* 텍스트 애니메이션 적용 */ 
.title .motion.animate__animated { animation-name: text70; }
.subTitle .motion.animate__animated { animation-name: text70; animation-delay: 500ms; }
.productBox.motion.animate__animated { animation-name: zoomIn; }
/* @keyframes zoomIn { 0%{ opacity: 0; } 100%{ opacity: 1; } } */

/* section02 - story */
.content { width: 1250px; margin: 0 auto; padding: 300px 0; }
#story_wrap { position: relative; width: 100%; background-color: #fff; }
#story_wrap .textBox { text-align: center; overflow: hidden; }
#story_wrap .textBox .topTextBox { width: 100%; height: 35px; overflow: hidden; }
#story_wrap .textBox .topTitle { position: relative; text-align: center; bottom: -40px; font-size: 24px; font-weight: 600; display: block; letter-spacing: -3px; }
#story_wrap .textBox .mainTextBox { margin: 30px 0; width: 100%; height: 165px; overflow: hidden; }
#story_wrap .textBox .mainTitle { position: relative; text-align: center; bottom: -180px; font-size: 60px; line-height: 1.1; font-weight: 900; letter-spacing: -3px; display: block; }
#story_wrap .textBox .bottomTextBox { width: 100%; height: 70px; overflow: hidden; }
#story_wrap .textBox .bottomTitle { position: relative; text-align: center; bottom: -70px; font-size: 18px; font-weight: 600; letter-spacing: -3px; display: block; line-height: 1.8; }
#story_wrap .textBox button { position: relative; bottom: -40px; margin-top: 110px; width: 180px; height: 40px; background-color:var(--color); border: 0; border-radius: 25px; }
#story_wrap .textBox button span { position: relative; color: #fff; letter-spacing: 0; display: block; width: 100px; margin-left: 30px; }
#story_wrap .textBox button span::after { font-family: 'FontAwesome'; content: '\f061'; position: absolute; top: -1px; right: -22px; display: block; color: var(--color); font-size: 15px; line-height: 20px; background-color: #fff; border-radius: 25px; width: 20px; height: 20px; }
#story_wrap .inner {  margin-top: 120px; width: 100%; height: 610px; overflow: hidden; }
#story_wrap .imgBox { position: relative; bottom: -610px;  width: 100%; display: flex; justify-content: space-between; }
#story_wrap .imgBox .img { margin: 0 auto; width: 350px; height: 300px; }
#story_wrap .imgBox .text  { text-align: center; margin: 0 auto; width: 350px; }
#story_wrap .imgBox .text span:first-of-type { margin: 30px 0; display: block; font-size: 24px; font-weight: 900; letter-spacing: -2px; }
#story_wrap .imgBox .text span:last-of-type { display: block; color: #343434; font-weight: 600; line-height: 2;  letter-spacing: -1px; }

/* 텍스트 애니메이션 적용 */
.motion { animation-duration: 1000ms; animation-fill-mode: forwards; background-repeat: no-repeat; } 

@keyframes text40 { 0% {bottom:-40px; } 100% { bottom: 0; } }
.topTitle.motion.animate__animated { animation-name: text40; } 
@keyframes text70 { 0% {bottom:-70px; } 100% { bottom: 0; } }
.bottomTitle.motion.animate__animated { animation-name: text70; animation-delay: 1000ms; }
@keyframes text80 { 0% {bottom:-80px; } 100% { bottom: 0; } }
@keyframes text180 { 0% {bottom:-180px; } 100% { bottom: 0; } }
.mainTitle.motion.animate__animated { animation-name: text180; animation-delay: 500ms; } 
@keyframes text610 { 0% {bottom:-610px; } 100% { bottom: 0; } }
.imgBox.motion.animate__animated { animation-name: text610; }
 

/* section03 - seoulLove */
#seoulLove { position: relative; width: 100%; overflow: hidden; } 
#seoulLove .content { width: 1250px; margin: 0 auto; padding: 600px 0;}
#seoulLove .circle01,
#seoulLove .circle03 { position: absolute; width: 250px; height: 250px; border-radius: 50%; background-color:var(--color); }
#seoulLove .circle02,
#seoulLove .circle04 { position: absolute; width: 180px; height: 180px; border-radius: 50%; background-color:var(--color); }
#seoulLove .textOuter span { letter-spacing: -3px; font-size:230px; font-family: 'Archivo', sans-serif; color: #fff; -webkit-text-stroke: 1px var(--color); }
#seoulLove .textOuter span:first-child { position: absolute; top: 250px; right: -20px; }
#seoulLove .textOuter span:last-child { position: absolute; left: -40px; bottom: 215px;}
#seoulLove .circle01 { top: 120px; left: 300px; }
#seoulLove .circle02 { top: 380px; left: -20px;}
#seoulLove .circle03 { bottom: 120px; right: 300px; }
#seoulLove .circle04 { bottom:380px; right: -20px; }
#seoulLove .textInner .seoulMilkReason { overflow: hidden; width: 100%; height: 180px; text-align: center;  }
#seoulLove .textInner .seoulMilkReason span { position: relative; bottom: -180px; font-size: 68px; font-weight: 900; letter-spacing: -4px; }
#seoulLove .textInner .text01 { overflow: hidden; width: 100%; margin-top: 120px; text-align: center; }
#seoulLove .textInner .text01 span,
#seoulLove .textInner .text02 span,
#seoulLove .textInner .text03 span { position: relative; bottom:-40px; font-size: 18px; font-weight: 600; letter-spacing: -2px; }
#seoulLove .textInner .text02,
#seoulLove .textInner .text03 { overflow: hidden; width: 100%; margin-top: 20px; text-align: center; }
.text01 .motion.animate__animated { animation-name: text40; animation-delay: 500ms; } 
.text02 .motion.animate__animated { animation-name: text40; animation-delay: 1000ms; } 
.text03 .motion.animate__animated { animation-name: text40; animation-delay: 1500ms; } 
.seoulMilkReason .motion.animate__animated { animation-name: text180; } 

/* section04 - seoulLog */ 
#seoulLog { position: relative; width: 100%; overflow: hidden; }
#seoulLog .textBox { position: absolute; width: 315px; }
#seoulLog .content { width: 1250px; margin: 200px auto; padding: 0;}
#seoulLog .subTitle span { font-size: 22px; letter-spacing: -2px; font-weight: 600; }
#seoulLog .title { margin-top: 15x; }
#seoulLog .title span { font-size: 80px; font-weight: 900; letter-spacing: -4px; }
#seoulLog .logSlide_wrap { position: relative; overflow: hidden; width: 2000px; margin-left: 345px; display: flex; }
#seoulLog .logSlide_wrap li { position: relative; margin: 0 25px; width: 370px; height: 570px; }
#seoulLog .logSlide_wrap li span:first-of-type { display: block; position: absolute; transform: rotate(90deg); top: 155px; left: -150px; font-weight: 600; letter-spacing: -1px; font-size: 20px; }
#seoulLog .logSlide_wrap li span:last-of-type { position: absolute; font-weight: 900; letter-spacing: -4px; font-size: 22px; bottom: 0; left: 40px; } 
#seoulLog .logSlide_wrap li span.coffeeText,
#seoulLog .logSlide_wrap li span.me { top: 175px; left: -165px; }
#seoulLog .logSlide_wrap li span.cheese { top: 150px; left: -145px; } 
#seoulLog .logSlide_wrap a { z-index: 2; position: absolute; display: block; width: 330px; height: 500px; right: 0; top: 0; }
#seoulLog .logSlide_wrap a img {  width: 100%; height: 100% }
#seoulLog .logSlide_wrap .playIcon { position: absolute; box-shadow: -5px 5px 10px #85858549; left: 20px; bottom: 20px; width: 80px; height: 80px; background-color: #fff; border-radius: 50%; }
#seoulLog .logSlide_wrap .playIcon::after { position: absolute; content: ''; width: 30px; height: 30px; margin: 25px; background: url(../img/playIcon.png) no-repeat; background-size: contain; }
#seoulLog .stop { display: none; }
footer { position: relative; background-color: var(--color) }
footer .content { width: 1250px; margin: 0 auto; padding: 90px 0; }
footer span,
footer a { color: #fff; } 
footer .menu { width: 845px; float: left; }
footer .menu>li {  margin: 30px 0 }
footer .menu>li a { font-size: 24px; font-weight: 600; letter-spacing: -2px; }
footer .rightBox { position: relative; width: 400px; height:325px; float: left; } 
footer .familysite li.mainTitle { position: relative; border-bottom: 2px solid #fff; }
footer .familysite li.mainTitle .footer_plus { position: absolute; top: 35px; right: 0; content: ''; width: 30px; height: 30px; display: block; background: url(../img/footer_plus.png);  background-size: cover; }
footer .familysite li.mainTitle a { font-size: 32px; font-weight: 600; letter-spacing: -2px; }
footer .familysite li a { display: block; padding: 25px 10px; }
footer .familysite li:not(.mainTitle) { display: none; text-align: center; background-color: #fff; border-bottom: 1px solid var(--color); }
footer .familysite li:not(.mainTitle) a { padding: 25px 20px;  color: var(--color); font-weight: 700; }
footer .sns_wrap { float: left; width: 400px; display: flex; justify-content: end; }
footer .sns { display: flex; justify-content: space-between; margin-top: 30px; width: 220px; } 
footer .sns li { width: 40px; height: 40px; }
footer .sns li a { display: block; }
footer .sns li img { width: 100%; height: 100%; }
footer .info{ clear: left; padding-top: 90px; }
footer .info li { display: inline; position: relative; margin-right: 15px; } 
footer .info li::after { content: ''; width: 1px; height: 10px; background-color: #fff; display: inline-block; margin: 10px; position: absolute;  }
footer .info span { display: inline-block; margin: 5px 0; font-weight: 400; }
footer .info li:nth-of-type(3)::after,
footer .info li:nth-of-type(6)::after,
footer .info li:nth-of-type(7)::after { display: none; }
